@import 'tailwindcss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0b1d2a;
    color: rgb(46, 38, 38);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo span {
    color: #8cff00;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav a:hover {
    color: #8cff00;
}

.btn-topo {
    background: transparent;
    border: 2px solid #8cff00;
    color: #8cff00;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 60px;

    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('https://images.unsplash.com/photo-1517927033932-b3d18e61fb3a') no-repeat center;
    background-size: cover;
}

.conteudo {
    max-width: 600px;
}

h1 {
    font-size: 48px;
    
}

h1 span {
    color: #8cff00;
}

p {
    margin: 20px 0;
    line-height: 1.5;
}

.acoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.acoes div {
    background: rgba(255,255,255,0.05);
    padding: 10px;
    border-radius: 8px;
}

.btn-principal {
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    background: #8cff00;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

/* LOGIN E REGISTRO */

.min-h-screen {
    background: #0b1d2a !important;
}

.bg-white,
.dark\:bg-gray-800,
.dark\:bg-gray-900 {
    background: #132b3d !important;
}

.text-gray-900,
.dark\:text-gray-100 {
    color: white !important;
}

.text-gray-600,
.dark\:text-gray-400 {
    color: #d1d5db !important;
}

input {
    background: #1e303d !important;
    color: white !important;
    border: 1px solid #8cff00 !important;
}

input:focus {
    border-color: #8cff00 !important;
    box-shadow: 0 0 10px rgba(140,255,0,0.4) !important;
}

button[type="submit"] {
    background: #8cff00 !important;
    color: black !important;
    font-weight: bold !important;
}

button[type="submit"]:hover {
    box-shadow: 0 0 15px #8cff00;
}


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
